@font-face {
  font-family: 'Euclid Circular B';
  src:
    local('Euclid Circular B Light'),
    url('/fonts/Euclid-Circular-B-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Euclid Circular B';
  src:
    local('Euclid Circular B Regular'),
    url('/fonts/Euclid-Circular-B-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Euclid Circular B';
  src:
    local('Euclid Circular B Medium'),
    url('/fonts/Euclid-Circular-B-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Euclid Circular B';
  src:
    local('Euclid Circular B SemiBold'),
    url('/fonts/Euclid-Circular-B-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Euclid Circular B';
  src:
    local('Euclid Circular B Bold'),
    url('/fonts/Euclid-Circular-B-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Euclid Circular B';
  src:
    local('Euclid Circular B Italic'),
    url('/fonts/Euclid-Circular-B-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
